asgiref==3.7.2 ; python_version >= "3.11" and python_version < "4.0"
django==4.2.4 ; python_version >= "3.11" and python_version < "4.0"
faker==19.2.0 ; python_version >= "3.11" and python_version < "4.0"
psycopg2-binary==2.9.6 ; python_version >= "3.11" and python_version < "4.0"
python-dateutil==2.8.2 ; python_version >= "3.11" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.11" and python_version < "4.0"
sqlparse==0.4.4 ; python_version >= "3.11" and python_version < "4.0"
tzdata==2023.3 ; python_version >= "3.11" and python_version < "4.0"
