{% extends "leaky_ledger/base.html" %}
{% load static %}

{% block extra_js %}
<script src="{% static 'leaky_ledger/js/home.js' %}"></script>
{% endblock %}

{% block extra_css %}
<link href="{% static 'leaky_ledger/css/home.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div id="above-fold-container" class="row p-4">
    <div class="col-md-4 mb-4">
        <h2>Welcome to Leaky Ledger Bank!</h2>
        <p>Where your financial security is our 4th or 5th priority.</p>
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Log In</button>
            <a href="{% url 'register' %}" class="btn btn-success">Open Account</a>
        </form>
    </div>
    <div class="col-md-8 mb-4 d-flex justify-content-center align-items-center">
      <div id="testimonial-container">
        <img 
          id="happy-customer-profile"
          class="mb-2"
          src="{% static 'leaky_ledger/images/smile.jpg' %}" 
          alt="Smiling customer"/> 
        <p id="testimonial-text">
          Ever since I've joined Leaky Ledger Bank, my life has become one thrilling adventure after another. I mean, who doesn't want a little extra excitement in their life, right?
        </p>
        <p class="fst-italic">
          - A satisfied customer
        </p>
      </div>
    </div>
</div>
<div class="row p-4">
	<div class="col-md-3 d-flex align-items-stretch mb-4">
		<div class="card">
			<img class="card-img-top" src="{% static 'leaky_ledger/images/open.jpg' %}" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">24/7 Access</h5>
				<p class="card-text">We believe in making banking convenient - that's why our doors (and servers) are open anytime, from anywhere. Who says only bankers should work regular hours? Rest assured, your finances are just as active during the night.</p>
			</div>
		</div>
	</div>
	<div class="col-md-3 d-flex align-items-stretch mb-4">
		<div class="card">
			<img class="card-img-top" src="{% static 'leaky_ledger/images/gate-lock.jpg' %}" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Industry Leading Security</h5>
				<p class="card-text">At our bank, we pride ourselves on our revolutionary approach to security. We firmly believe in openness - why should only account owners have access to their financial details? With our cutting-edge, transparent security protocols, we're redefining what it means to be a 'secure' bank. A financial institution for the digital age, truly.</p>
			</div>
		</div>
	</div>
	<div class="col-md-3 d-flex align-items-stretch mb-4">
		<div class="card">
			<img class="card-img-top" src="{% static 'leaky_ledger/images/truck.jpg' %}" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Pre-qualified Car Loans</h5>
				<p class="card-text">We understand that predicting your financial future can be as uncertain as a weather forecast. That's why our approach to pre-qualifying for car loans is innovative and distinctive. We skip the typical number-crunching and go straight to approval. Because why let minor details like credit scores or employment history slow you down? Get on the fast lane towards your dream car with us.</p>
			</div>
		</div>
	</div>
	<div class="col-md-3 d-flex align-items-stretch mb-4">
		<div class="card">
			<img class="card-img-top" src="{% static 'leaky_ledger/images/stocks.jpg' %}" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Unbeatable Interest Rates</h5>
				<p class="card-text">At our bank, we firmly believe that wealth accumulation should be a journey, not a sprint. Hence, our savings account interest rates are carefully calibrated to encourage slow and steady growth. With us, your savings will accumulate at a pace reminiscent of a relaxed Sunday stroll. We're here to redefine 'high-yield' in a way that lets you truly savor the experience of watching your wealth grow.</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
